<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 타입 별칭 설정============================  -->
   <typeAliases>
   		<typeAlias type="com.mympm.domain.CommunityVO" alias="Community"/>
   		<typeAlias type="com.mympm.domain.NoticeVO" alias="Notice"/>
   </typeAliases>
   
   <!-- 매퍼 정의================================ -->
   <mappers>
   		<mapper resource="config/mybatis/mapper/CommunityMapper.xml"/>
   		<mapper resource="config/mybatis/mapper/NoticeMapper.xml"/>
   </mappers>
</configuration>
