@charset "utf-8";
@import url("noticeview.css");
@import url("noticelist.css");
/* border: 2px solid red; */

:root {
    --nav:#14279B;
    --btn:#3D56B2;
    --font:rgb(189, 224, 255);
    --bg:#E6E6E6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header---------------------------------- */
header {
display: flex !important;
height:65px;
width: 100%;
background-color: #14279B;
}

header .logo{
    margin: 1px 10px 1px 10px;
    width: 10%;
}
nav {
    display: flex !important;
    flex: auto;
   
}
nav .notice, .community, .music{
    font-weight: bolder;
    padding-top: 19px;
    font-size: 20px;
    width: 120px;
    text-align: center;
   
}
a{
    text-decoration: none !important;
}

header .login{
    width:10%;
    padding-top: 9px;
}
header .logintag{
    
    width: 15%;
    text-align:center;
    font-size: 18px;
    padding-top: 18px;
}
.logintag span{
    color: rgb(189, 224, 255);
}
.login .login-btn{
    padding: 7px 15px 7px 15px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(189, 224, 255);
    background:#3D56B2;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.notice:hover{
    background: #3D56B2;
    border-radius: 15px;
}
.community:hover{
    background: #3D56B2;
    border-radius: 15px;
}
.music:hover{
    background: #3D56B2;
    border-radius: 15px;
}
.logintag a:link{
    font-weight: bolder;
}
a:visited {
    color: rgb(189, 224, 255) !important;
    font-weight: bolder;
    
  }
a:link{
    color: rgb(189, 224, 255) !important;
}
/* main----------------------------------------- */



/* footer----------------------------------------- */
footer {
    text-align: center;
    color: rgb(189, 224, 255);
    background-color: #14279B;
    padding: 20px 20px;
    padding-bottom: 8%;
}
/* playbar------------------------------------ */
.playbar{
    display: flex;
    width: 100%;
    height: 15%;
    position: fixed; _position:absolute; _z-index:-1;
    overflow: hidden;
    right:0px;
    top:88%;
    background-color: #3D56B2;
    margin:0;
    padding:0;
    
}
.music-left{
    display: flex;
    width: 30%;
    
}
.music-title{
    font-size: large;
    margin-top:10px ;
    font-weight: bold;
    
}
.musicprofile1{
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin: 13px 10px;
}
.music-right{
    width: 30%;
    display: flex !important;
    
}
.music-center{
    width: 40%;
    text-align: center;
}
.time{
    border: 2px solid black;

}
.repeat-bt{
    background-image: url(../img/repeat.png);
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 25px 0 25px;
}
.previous-bt{
    background-image: url(../img/previous.png);
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 25px 0 25px;
}
.play-bt{
    background-image: url(../img/play.png);
    width: 34px;
    height: 34px;
    border: none;
    background-repeat : no-repeat;
    margin: 0 25px 0 25px;
}
.next-bt{
    background-image: url(../img/next.png);
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 25px 0 25px;
}
.shuffle-bt{
    background-image: url(../img/shuffle-arrows.png);
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 25px 0 25px;
}

button{
    background-color: transparent;
    outline: none;
}
.sound-bt{
    background-image: url(../img/sound.png);
    width: 32px;
    height: 32px;
    border: none;
    background-size : cover;
    margin: 0 25px 0 25px;
}

.heart-bt{
    background-image: url(../img/heart.png);
    width: 32px;
    height: 32px;
    border: none;
    margin: 0 25px 0 25px;
    background-size : cover;
}
.list-bt{
    background-image: url(../img/list.png);
    width: 60px;
    height: 60px;
    border: none;
    margin: 4px 0 0 10px;
    background-repeat : no-repeat;
    background-size : cover
}
.heart{
    margin-right: 50px;
    text-align: center;
    margin-top: 28px;
    
}
.sound{
    text-align: center;
    margin-top: 28px;
}
.mymusic{
    margin-top: 10px;
    margin-left: 40px;

}
.center-bt{
    margin-top: 10px;
}

.artist{
    display: inline;

}

.soundvolume{
    width: 120px;
    margin-top: 34px;
    border: 2px solid black;
    height: 20px;
}