@charset "utf-8";
@import "base.css";
.container{
	text-align: center;
	margin: auto 11.333%;
	min-height: 600px;
}
#t1{
	text-align: center;
	background-color: var(--bg);
}
.btn{
	background-color: var(--btn);
    color: var(--font);	
}
#sp1{
	width: 10%;
	margin-top: 10px;
	color: white;
}
#mr_content{
	width: 35%;
}