@charset "utf-8";
@import "base.css";

.section {
    min-height: 73vh;
}

#loginform {
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
}

#loginform td, th {
    border: 2px solid var(--nav);
}

#logintext {
    height: 150px;
    text-align: center;
    font-size: 30px;
}

#formtext {
    width: 40%;
    text-align: right;
    font-size: 20px;
    padding: 30px;
}

#saveid {
    margin-left: 10px;
}

#submit {
    height: 100px;
    text-align: center;
}

#loginbtn, #signupbtn {
    width: 125px;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--btn);
    color: var(--font);
}

#inputid, #inputpwd {
    width: 350px;
    height: 50px;
}