@charset "utf-8";
@import "base.css";
.container{
	text-align: center;
	margin: auto 11.333%;
	min-height: 600px;
}
div#mreviewL{
	text-align: center;
	background-color: var(--bg);
	color: white;
}
table{
	border: thin solid #E6E6E6;
}
div#t1 {
	margin: 0 auto;
    width: 500px;
    height: 200px;
    overflow-y: auto;
}