@charset "utf-8";
@import "base.css";

.container{
    text-align: center;
    margin: auto 11.333%;
    min-height: 200px;
    border:2px solid red;
    margin-top:150px
}
.cth1{
    margin-top: 20px;
}
.container #ctcontent1{
    width: 1000px;
    height: 350px;
    margin: 5px 15px 0 15px;
}
.cttable2{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
}
#ctedit{
    float: right;
    height: 27px;
    width: 70px;
}
#ctdelete{
    height: 27px;
    width: 70px;
    float: right;
    margin: 0 15px 0 15px;
}
